# Browsers that we support

# Production browsers
> 0.2%
last 2 versions
not dead
not op_mini all

# Development browsers (faster builds)
last 1 chrome version
last 1 firefox version
last 1 safari version
